<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{TITLE}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="imagetoolbar" content="no"/>
<style type="text/css">
a { color:#d2322d }
</style>
</head>
<body leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0" bgcolor="#d2322d"  style="background:#d2322d;">
<br/>
    <div style="margin:20px auto;width:600px;background:#fff;overflow: hidden;" width="600" background="#fff">
        <div style="margin: 0px 16px;padding:16px 0px;">
           
            <div style="padding-top:16px;margin:0px 20px;">
                <h3>Здравствуйте!</h3>               
                {TEXT}              
             
               </div>
        </div>
    </div><br/><br/><br/>
</body>
</html>