<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{TITLE}</title>
   
    <link rel="shortcut icon" href="/favicon.ico?2020514" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

     <!-- Latest compiled and minified JavaScript -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>  
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      <script src="/js/partner.js"></script>
  </head>
  <body>
  
      <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">A1 <span class="label label-success">beta</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/partner/">Тесты</a></li>
            <li><a href="/partner/media/">Медиа</a></li>
            <li><a href="/partner/category/">Категории</a></li>            
            <li><a href="/partner/users/">Пользователи</a></li>        
          </ul>
          
          <ul class="nav navbar-nav navbar-right">  
            <li style="line-height: 16px;padding-top:5px;margin-top:5px; padding-right:12px; text-align: right; border-right:1px solid #eee">{L_USERNAME}<br /><span style="color: #8c8c8c; font-size:8px">{L_CLASS}</span></li>
            <li><a href="/partner/exit/">Выход</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
