 <div class="row">
                    <div class="col-md-1"><h1>#{UID}</h1></div>
                    <div class="col-md-1">
                        <div class="UploadItem">                   
                            <input name="{ICON-PARAM}" type="hidden" value="{ICON}"  />
                            <div class="img-thumb img64" data-id="{ICON-PARAM}"><img src="/static/{ICON}" alt=""  /></div>
                        </div>
                    </div>
                    <div class="col-md-9"><label>Вопрос</label><br /><input type="text" class="form-control" name="{TEXT-PARAM}" value="{TEXT}" required="1" placeholder="Например, Сколько Вы едите в день?"/></div>
                    
                </div>