<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{TITLE}</title>
    <link href="/css/style-partner.css?v2" rel="stylesheet"/>
    <link rel="shortcut icon" href="/favicon.ico?2020514" type="image/x-icon" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <div class="Main">
        <div class="Logo"><a href="/"><img src="/images/st-red.png" alt="" /></a></div>
        <h4>{NAME}</h4>
        <p>&nbsp;</p>
        {TEXT}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>   
    <script src="/js/bootstrap.js"></script>
   
  </body>
</html>