<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Offer# Test</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="Keywords" content=""/>
<meta name="Description" content=""/>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700&subset=latin,cyrillic" type="text/css" />
<link rel="shortcut icon" href="/favicon.ico?2020514" type="image/x-icon" />
<link rel="stylesheet" href="/static/layout.css?v3" type="text/css"/>
<script type="text/javascript" src="http://yandex.st/jquery/1.11.1/jquery.min.js"></script>   
<script type="text/javascript" src="/static/f.js?v1"></script>
</head>
<body><div class="MainE">
<div class="in">

    <div class="Top"><div class="Img"><img src="/a/b/{ICON}" alt="" width="128" height="128" /></div><div class="Text">{NAME}<br /><span style="font-size: 10px;">Кратко: {SHORT}</span></div></div>
    <div class="Data"><div class="in">
        
        <div class="Field"><div class="Name">Описание:</div><div class="Value">{DESC}</div></div>
        <div class="Field"><div class="Name">Город:</div><div class="Value">{CITY}</div></div>
        <div class="Field"><div class="Name">Категория:</div><div class="Value">{CATEGORY}</div></div>
        <div class="Field"><div class="Name">Скидка:</div><div class="Value">{DISCOUNT}%</div></div>
        <div class="Field"><div class="Name">Бонус:</div><div class="Value">{BONUS}</div></div>
        {ADDRESS}
        <hr />
        <div class="Field"><div class="Name">Почта:</div><div class="Value">{EMAIL}</div></div>
        <div class="Field"><div class="Name">Организация:</div><div class="Value">{ORG}</div></div>
    </div></div>
</div>

    

</div></body></html>