{%INCLUDE:board_top%}

    
    <div class="container">
    <p>&nbsp;</p> <p>&nbsp;</p> <p>&nbsp;</p>
      <div class="page-header">
        <h1>Пользователи <div style="float: right;"><a href="/partner/usersAdd" class="btn btn-success">Новый пользователь</a></div></h1>
      </div>
     <table class="table">   
      <thead>
        <tr>        
          <th>Учетная запись</th>
          <th>Класс, Статус</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        <!--USR-->
      </tbody>
    </table>
    </div>

  {%INCLUDE:board_bot%}